[Unit]
Description=Minecraft Bedrock Backup Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash "/REPOSITORY/infra/backup.sh"
WorkingDirectory="/REPOSITORY/infra"
