[Unit]
Description=Minecraft Bedrock Backup Service

[Service]
Type=oneshot
ExecStart=/mnt/c/Users/<ServerUser>/Documents/<your-repo>/infra/backup.sh
