[Unit]
Description=Minecraft Bedrock Backup Service

[Service]
Type=oneshot
ExecStart=/mnt/c/Users/dante/MinecraftServer/minecraftServer/infra/backup.sh
